#!/usr/bin/env bash
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
# - - ] sudoFiles/.aliases
# - - ] updated: 2018.10.01
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# less
alias ls="ls -G"
alias l="ls -G"
alias ll="ls -lG"
alias la="ls -aG"
alias lla="ls -laG"
alias lhat="ls -lhatG"

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# color tools
alias grep="grep --color=auto"
alias egrep="egrep --color=auto"
alias fgrep="fgrep --color=auto"
alias diff="colordiff --color=auto"

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# common tools
alias e=$EDITOR
alias h="history"
alias j="jobs"
alias v=$EDITOR
alias vi=$EDITOR
alias s="subl"
alias o="open"
alias oo="open ."
alias g="git"
alias gac="git add .; git commit"
alias pull="git pull origin master"
alias push="git push origin master"
alias sudo="sudo "

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# homemade tools
alias sb='echo "loading profile..."; source "$HOME/.profile"; echo "done"'
alias reload="exec $SHELL -l"
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup;'

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# easily review config files I use all the time including my own help file
alias .aliases="less $HOME/.aliases"
alias .profile="less $HOME/.bash_profile"
alias .exports="less $HOME/.exports"
alias .path="less $HOME/.path"
alias .help="less $HOME/.help | open -f -a Marked\ 2"


# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# ip tools
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"
alias whois="whois -h whois-servers.net"
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# apple tools
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"
alias lpreset='defaults write com.apple.dock ResetLaunchPad -bool true; killall Dock'
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
alias plistbuddy="/usr/libexec/PlistBuddy"

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# shortcuts
if [[ $GITDIR ]]; then
    alias .gtg="cd $GITDIR"
fi
if [[ $NOTESDIR ]]; then
    alias .gtn="cd $NOTESDIR"
fi
if [[ $WORKSPACE ]]; then
    alias .gtw="cd $WORKSPACE"
fi
if [[ $DROPBOX ]]; then
    alias .gtd="cd $DROPBOX"
fi
if [[ $STASHDIR ]]; then
    alias .gts="cd $STASHDIR"
fi
