#!/usr/bin/env bash
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#
# - - ] sudoFiles/.exports
# - - ] updated: 2019.03.20
#
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# basics
export HISTFILESIZE="32768";
export HISTCONTROL="ignoreboth";
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# set editor
if [ $(which nvim) ]; then
    export EDITOR=$(which nvim)
elif [ $(which vim) ]; then
    export EDITOR=$(which vim)
elif [ $(which vi) ]; then
    export EDITOR=$(which vi)
else
    echo "no suitable editor found"
fi
# export directories
if [ -d "$HOME/GitHub" ]; then
    export GITDIR="$HOME/GitHub";
fi
if [ -d "$HOME/WorkSpace" ]; then
    export WORKSPACE="$HOME/WorkSpace";
fi
if [ -d "$HOME/Dropbox" ]; then
    export DROPBOX="$HOME/Dropbox";
fi
if [ -d "$HOME/Documents/Notes.iCloud" ]; then
    export NOTESDIR="$HOME/Documents/Notes.iCloud";
fi
if [ -d "$HOME/WorkSpace/go" ]; then
    export GOPATH="$HOME/WorkSpace/go";
fi
if [ -d "$HOME/WorkSpace/py" ]; then
    export PYPATH="$HOME/WorkSpace/py";
fi
if [ -d "$HOME/.nvm" ]; then
    export NVM_DIR="$HOME/.nvm";
fi
if [ -d "$HOME/.virtualenvs" ]; then
    export WORKON_HOME="$HOME/.virtualenvs";
fi
if [ -s "/usr/local/bin/python3" ]; then
    export VIRTUALENVWRAPPER_PYTHON="/usr/local/bin/python3";
fi
if [ -d "/usr/local/var/pyenv" ]; then
    export PYENV_ROOT="/usr/local/var/pyenv";
fi
if [ -d "$HOME/BitBucket" ]; then
    export BITBUCKETDIR="$HOME/BitBucket";
fi
if [ -d "/usr/local/opt/sqlite" ]; then
    export LDFLAGS="-L/usr/local/opt/sqlite/lib";
    export CPPFLAGS="-I/usr/local/opt/sqlite/include";
    export PKG_CONFIG_PATH=/usr/local/opt/sqlite/lib/pkgconfig:$PKG_CONFIG_PATH;
fi
if [ -d "/usr/local/opt/libxml2" ]; then
    export LDFLAGS="-L/usr/local/opt/libxml2/lib";
    export CPPFLAGS="-I/usr/local/opt/libxml2/include";
    export PKG_CONFIG_PATH=/usr/local/opt/libxml2/lib/pkgconfig:$PKG_CONFIG_PATH;
fi
if [ -d "/usr/local/opt/bison" ]; then
    export LDFLAGS="-L/usr/local/opt/bison/lib";
fi
if [ -d "/usr/local/opt/ruby" ]; then
    export LDFLAGS="-L/usr/local/opt/ruby/lib";
    export CPPFLAGS="-I/usr/local/opt/ruby/include";
    export PKG_CONFIG_PATH=/usr/local/opt/ruby/lib/pkgconfig:$PKG_CONFIG_PATH;
fi
